@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2A2933;
  --muted-foreground: #616167;
  --accent: #F5F5F5;
  --border: #C5C5CB;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  .font-merriweather {
    font-family: var(--font-merriweather), "Merriweather", serif;
  }

  .font-albert-sans {
    font-family: var(--font-albert-sans), "Albert Sans", sans-serif;
  }

  .font-inter {
    font-family: var(--font-inter), "Inter", sans-serif;
  }
}
